{% extends 'user/layout.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<div class="container my-4">
    <form method="post">
      {% csrf_token %}
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row justify-content-md-center mb-2">
        <div class="col-lg-8">
          <div class="form-outline mb-4">
            {{ form.username }}
            <label class="form-label" for="12">Username</label>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center mb-2">
        <div class="col-lg-4">
          <div class="form-outline mb-4">
            {{ form.first_name }}
            <label class="form-label" for="1">First name</label>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-outline mb-4">
            {{ form.last_name }}
            <label class="form-label" for="form3Example2">Last name</label>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center mb-2">
        <div class="col-lg-8">
          <div class="form-outline mb-4">
            {{ form.email }}
            <label class="form-label" for="form3Example3">Email address</label>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center mb-2">
        <div class="col-lg-8">
          <div class="form-outline mb-4">
            {{ form.password1 }}
            <label class="form-label" for="form3Example4">Password</label>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center mb-2">
        <div class="col-lg-8">
          <div class="form-outline mb-4">
            {{ form.password2 }}
            <label class="form-label" for="form3Example5">Confirm password</label>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center mb-2">
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" name="check" id="form2Example33" />
          <label class="form-check-label" for="form2Example33">
            Agreement
          </label>
        </div>
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary d-block mx-auto mb-4">Sign up</button>
    </form>
</div>
    {{ form.errors }}
{% endblock %}